/**
 * @author Paul and Marius Craciunoiu
 * @version 1.1
 *
 * Designed for quoteden.net
 */

/** Prevent overflowing content **/
#header,
#content,
#navbar,
#footer
{
    overflow: visible;
    word-wrap: break-word;
}

/*----------------------------------
    Body
----------------------------------*/
body {
    margin: 14px 0 0 0;
    background: #ccc;
    font-size: 14px;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
a {
    color: #ff6400;
    text-decoration: none;
}
a:visited,
a:hover,
a:active {
    color: #fb8f4a;
}

body ul {
    list-style-type: disc;
    padding: 5px 30px 15px;
}

ul li {
    padding: 5px 0;
}

h1 {
    font-size: 200%;
    text-align: center;
    padding: 0.5em 0 1em;
}

h2 {
    font-size: 180%;
    text-align: center;
    padding: 0.5em 0 1em;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

ul.error,
li.error {
    color: #ff0400;
}


/*----------------------------------
    Header
----------------------------------*/
#header {
    margin: 0 auto;
    width: 740px;
    height: 120px;
    background: url(../img/quotessprite.png) no-repeat 0 -48px;
    position: relative;
}
/* Alternatively, the skip-to-nav link can be completely hidden until a user tabs
    to the link. Un-comment the following CSS to use this technique. */
/*
#skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited
{
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip-to-nav a:active, #skip-to-nav a:focus
{
    position: static;
    width: auto;
    height: auto;
}
*/

#logo {
    margin: 0 10px 0 0;
    padding: 0;
    font-size: 250%;
    line-height: 1.3em;
    position: absolute;
    top: 28px;
    left: 28px;
}
#logo a {
    text-indent: -9999px;
    font-size: 0;
    display: block;
    width: 220px;
    height: 60px;
}

#header .plus {
    position: absolute;
    text-indent: -9999px;
    top: 32px;
    left: 244px;
    background: url(../img/quotessprite.png) no-repeat -333px 0;
    display: block;
    height: 16px;
    width: 16px;
}

#header a.plus:hover,
#header a.plus:active {
    background-position: -333px -24px;
}

#header .quote {
    position: absolute;
    text-align: right;
    color: #fff;
    right: 0;
    top: 0;
    padding: 15px 20px 0 0;
    width: 450px;
    height: 100px;
    font-size: 75%;
}
#header .quote .text {
    line-height: 1.5em;
}
#header .quote .author {
    margin-top: 12px;
}

/** navigation **/
#navigation {
    font-size: 90%;
    list-style-type: none;
    position: absolute;
    top: 96px;
    right: 10px;
    margin: 0; padding: 0;
}
#navigation li {
    float: left;
    display: inline-block;
    background: url(../img/quotessprite.png) no-repeat 0 -24px;
    width: 112px;
    height: 24px;
    padding: 0;
    margin: 0 1px;
    text-align: center;
}
#navigation li.active,
#navigation li:hover,
#navigation li:active {
    background-position: 0 0;
}
#navigation a {
    display: block;
    padding-top: 7px;
}

#navigation #search {
    background: url(../img/quotessprite.png) no-repeat -111px -24px;
    width: 175px;
    color: #fb8f4a;
}
#navigation #search:hover,
#navigation #search.active {
    background-position: -111px 0;
}
#search label {
    padding-left: 2px;
}
#search input[type="text"] {
    border: 0;
    margin-top: 5px;
    padding-right: 4px;
    background: none;
    width: 82px;
    font-size: 90%;
}
#search input[type="submit"] {
    background: url(../img/quotessprite.png) no-repeat -306px 0;
    width: 12px;
    height: 24px;
    cursor: pointer;
    border: 0;
    text-indent: -9999px;
    line-height: 0px; /* IE fix */
    font-size: 0;
    right: 5px;
    position: relative;
}


#login {
    position: absolute;
    font-size: 80%;
    display: none;
    top: 48px;
    left: 245px;
    z-index: 50;
}
#login * {
    margin: 0;
    padding: 0;
    border: 0;
}
#login input[type="submit"] {
    line-height: 0px; /* IE fix */
    position: absolute;
    color: #fff;
    top: -16px; left: 20px;
    background: url(../img/quotessprite.png) no-repeat -349px 0;
    width: 36px; height: 16px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
}

#login input[type="submit"]:hover {
    background-position: -349px -24px;
}

#login input[type="text"]
, #login input[type="password"]
{
    display: block;
    margin: 5px 0;
    background: #eee;
    font-size: 95%;
    background: #ed9861;
}

/*----------------------------------
    Content
----------------------------------*/
#content {
    /* If a div.clear-block doesn't have any content after it, Firefox and Safari
     * will mistakenly place several pixels worth of space between the bottom of
     * the div and the bottom of the viewport. This fixes it.
     */
    overflow-y: hidden; /* CSS3 property */
    position: relative;
    margin: 0 auto;
    width: 740px;
    padding: 0 0 20px 0;
    background: #fff;
}

#content-inner {
    margin: 0;
    padding: 0;
}

.pager {
    clear: both;
    margin: 1em 0;
    text-align: center;
}

.pager a
, .pager span
{
    padding: 0.4em;
}

.feed-icons {
    padding: 10px 0;
    text-align: center;
}

.feed-icons a {
    font-size: 0;
    text-indent: -9999px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/quotessprite.png) no-repeat -385px 0;
}

.feed-icons a:hover,
.feed-icons a:active {
    background-position: -385px -24px;
}

/*----------------------------------
    Quote list
----------------------------------*/
#content .quote {
    clear: both;
    background: url(../img/quotessprite.png) no-repeat -744px 1px;
    border-bottom: 1px solid #ccc;
}
#content .quote-inner {
    padding: 20px;
    width: 490px;
    background: url(../img/qmark2.png) no-repeat bottom right;
    min-height: 90px;
    height: auto !important;
    height: 90px;
}
#content .quote .id {
    clear: both;
    float: right;
    font-size: 82px;
    font-family: Arial, Helvetica, sans-serif;
    width: 178px;
    margin-right: 9px;
    text-align: center;
}
#content .quote .id a {
    color: #ccc;
}
#content .quote .text {
    line-height: 1.8em;
}
#content .quote .categories {
    float: left;
    line-height: 1.8em;
    font-size: 90%;
    width: 250px;
}
#content .quote .categories a {
    display: inline-block;
    padding: 0 0.5em 0 0;
}
#content .quote .id a {
    font-weight: 700;
}
#content .quote {
    margin: 2px;
    padding-bottom: 12px;
}
#content .quote .categories, #content .quote .author {
    padding-top: 4px;
}

#content .quote .author {
    float: right;
    line-height: 1.8em;
    margin-right: 2em;
}
#content .quote .after-author {
    clear: left;
    margin-bottom: 1em;
}

.list-note {
    padding: 70px 40px;
    line-height: 1.8em;
    text-align: center;
}
.list-note.border {
    border-bottom: 1px solid #ccc;
}
.list-note-small {
    padding: 30px 20px;
    line-height: 1.5em;
    text-align: center;
}

/*----------------------------------
    Author page
----------------------------------*/

.author-bio {
    padding: 10px 20px 30px 20px;
    line-height: 1.5em;
    border-bottom: 1px solid #ccc;
}


/*----------------------------------
    Authors list
----------------------------------*/
.author-list .author {
    text-align: center;
    padding: 10px;
}

/*----------------------------------
    Category list
----------------------------------*/
.category-header {
    font-size: 160%;
}

/*----------------------------------
    Categories list
----------------------------------*/
.category-row
, .author-row
{
    width: 100%;
    clear: both;
    position: relative;
}
.letter {
    float: left;
    width: 185px;
    height: 360px;
    overflow: visible;
}

.letter h2,
.category-letter h2
, .author-letter h2 {
    color: #6f6f6f;
    font-size: 160%;
    text-align: left;
    border-bottom: 2px solid #ccc;
    padding: 10px 0 10px 5px;
    margin: 20px 20px 5px 25px;
}

.letter ul
, .category-letter ul
, .author-letter ul {
    list-style: none;
    line-height: 1.4em;
    padding: 0 20px 10px 25px;
}

.letter li.last
, .category-letter li.last
, .author-letter li.last
{
    text-align: left;
    padding: 20px 10px 0 0;
    font-weight: bold;
}

.category-letter #content ul
, .author-letter #content ul
{
    float: left;
    width: 140px;
}

.category-letter #content .last
, .author-letter #content .last
{
    float: right;
    padding: 16px 50px 0 0;
    font-weight: bold;
}


/*----------------------------------
    Quote add
----------------------------------*/
.quote-add #content label {
    display: block;
}

.quote-add label span {
    display: block;
    font-weight: bold;
    line-height: 1.4em;
    font-size: 90%;
}

.quote-add .form .meta {
    float: left;
}
.quote-add .form .text {
    float: left;
    width: 450px;
}

.quote-add #content-inner .form {
    padding: 10px 15px 5px 15px;
    height: 170px;
    border-bottom: 1px solid #ccc;
}
.quote-add .text textarea,
.quote-add .meta textarea,
.quote-add .meta input[type="text"] {
    background: #f7f7f7;
    border: 1px solid #ccc;
}

.quote-add .text textarea {
    width: 430px;
}

.quote-add .meta .author {
    margin-top: 4px;
}
.quote-add .meta .author span {
    padding-bottom: 3px;
}
.quote-add .meta .submit {
    padding-top: 10px;
    text-align: center;
}

.quote-add .meta input[type="submit"] {
    color: #ff6400;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 140%;
}

.quote-add a#quote-add-more {
    display: block;
    float: right;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    z-index: 1;
    position: relative;
    top: -1px;
    padding: 2px 4px;
}

.quote-add #content .messages {
    margin: 20px 10px 5px 10px;
}

/*----------------------------------
    Search page
----------------------------------*/
.search-index em { /* search highlight */
    background: #ffe2cf;
    color: #000;
    padding: 1px 2px;
    font-style: normal;
}

/*----------------------------------
    Footer
----------------------------------*/
#footer {
    margin: 0 auto;
    width: 740px;
    height: 36px;
    text-align: center;
    color: #fff;
    background: url(../img/footer.png) repeat-x;
}
#footer-inner {
    line-height: 36px;
}

#footer a {
    color: #cdc;
}


/*----------------------------------
    Login form
----------------------------------*/
.login {
    text-align: center;
}
.login label {
    display: block;
    padding: 5px;
    width: 90%;
    margin: 0 auto;
}
.login label span {
    display: inline-block;
    width: 80px;
}

/*----------------------------------
    Register page
----------------------------------*/
.user-register #content-inner {
    padding: 0 20px;
    line-height: 1.8em;
}


/*----------------------------------
    Rating system
    Inspired by...
    http://www.komodomedia.com/blog/2007/01/css-rating-redux/
----------------------------------*/
.quote .rating-wrap {
    margin: 0 0 2px;
    padding: 0;
    width: 185px;
    float: right;
    text-align: center;
}
.quote .rating {
    position: relative;
    width: 180px;
    margin-top: 5px;
    height: 30px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    background-position: left 1px;
}

.rating,
.rating a:hover,
.rating a:active,
.rating a:focus,
.rating .current {
    background: #fff url(../img/stars.png) left 0 repeat-x;
}
.rating li{
    display: inline;
}
.rating a, 
.rating .current {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -9999px;
    height: 30px;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    border: none;
}
.rating a:hover,
.rating a:active,
.rating a:focus {
    background-position: left bottom;
}
.rating a.one {
    width: 20%;
    z-index: 6;
}
.rating a.two {
    width: 40%;
    z-index: 5;
}
.rating a.three {
    width: 60%;
    z-index: 4;
}
.rating a.four {
    width: 80%;
    z-index: 3;
}
.rating a.five {
    width: 100%;
    z-index: 2;
}
.rating .current {
    z-index: 1;
    background-position: 0 -28px;
}

.rating-wrap .msg {
    color: #000;
    height: 1em;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-size: 80%;
}
.rating-wrap .error {
    color: #ff0400;
    left: -0.3em;
}